<html ng-app="app.cinemas">

<head>
    <title>Node/Angular Todos</title>

    <!-- load Google Fonts  -->
    <link href="//fonts.googleapis.com/css?family=Paytone+One|Quicksand&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- load CDN stye -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/css/xeditable.min.css" />
    <!-- load cdn scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.1/js/xeditable.min.js"></script>
    <!-- load css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- load app -->
    <script src="assets/js/main/app.js"></script>
    <script src="assets/js/main/services/svCinemas.js"></script>


    <link rel="stylesheet" href="assets/stylesheets/style.css">
    <script src="assets/javascripts/setting.js"></script>
    <script src="assets/javascripts/main.js"></script>
    <link rel="stylesheet" href="assets/stylesheets/loader.css">
</head>

<body ng-controller="cinemaController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{cinema.appName}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{cinema.image_url}}">
                </div>
                <div class="col-md-8">
                    </p>{{cinema.noidung}}</p>
                    <ul class="list-group">
                        <li class="list-group-item">Năm sản xuất: {{cinema.nam}}</li>
                        <li class="list-group-item">tháng sản xuất: {{cinema.thang}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>